*{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
/* h1 {color:white ;display: inline-block; width:auto; padding-inline: 80px;} */
/* header {background-color: rgb(82, 6, 73);width: 100%; height: auto; position: fixed; margin-top: 0;} */
/* .header {position: sticky;padding: 0px 16px; background: #f1f1f1;} */
#landing {color: rgb(77, 40, 2); display:flex;}
/* * {background-color: #ff746c;} */
/* .foot { width:33%;} */
a:visited{color: rgb(22, 37, 3); text-decoration: none;}
a:hover{color:#728e9e}
a:link{color: rgb(21, 21, 46);text-decoration: none;}
footer{background-color: rgb(233, 221, 221);display: flex;justify-content: right; position: fixed; width:100%; bottom: 0px;}
.foot{padding-right:50px}
/* #header-gap{padding-top: 10cap; padding-left: 100px;} */
main{padding-top: 100px;}
#body-index{background-color: rgb(2, 44, 56); margin-bottom:100px}
#body-about{background-color: rgb(42, 100, 117);margin-bottom:100px}
#body-port{background-color: rgb(20, 87, 50);margin-bottom:100px}
p,h3,h2 {color:beige}
.menu{display:flex; padding: 0; width: 33.33%;}
#menu{background-color: rgb(233, 221, 221);display:flex;width:100%; height: auto; position: fixed; margin-top: 0;}
h2 {display:flex; }
.menu-item{ border-radius:1cap;text-align: center; width: 200px; padding: 10px;margin: 10px; background-color: rgb(222, 195, 195);"}