* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#landing {
  color: rgb(77, 40, 2);
  display: flex;
}

a:hover {
  color: orange
}

a:link {
  color: rgb(24, 42, 104);
  text-decoration: none;
}

footer {
  background-color: rgb(233, 221, 221);
  display: flex;
  justify-content: right;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;

}

.foot {
  padding: 5px;
  height: auto;
  position: relative;
  right: 40%;
  display: block;
  margin: 4px;
  width: 50px;
  object-position: center;
}

main {
  padding-top: 100px;
}

#body-index {
  background-color: rgb(2, 44, 56);
  margin-bottom: 100px;
}

#body-about {
  background-color: #55518dc3;
  margin-bottom: 100px
}

#body-port {
  background-color: #464545;
  margin-bottom: 100px
}

p,
h3,
h2 {
  color: beige
}

.menu {
  display: flex;
  padding: 0px;
  width: 33.33%;
}

#menu_index {
  background-color: #e9dddd;
  display: flex;
  width: 100%;
  height: 75px;
  position: fixed;
  margin-top: 0;
}

#menu_about {
  background-color: #FCF6F5;
  display: flex;
  width: 100%;
  height: 75px;
  position: fixed;
  margin-top: 0;
}

#menu_port {
  background-color: #E7E8D1;
  display: flex;
  width: 100%;
  height: 75px;
  position: fixed;
  margin-top: 0;
}


.menu-item {
  border-radius: 1cap;
  text-align: center;
  width: 200px;
  margin: 25px;

}

.menu-item-1 {
  color: #f3eded;
  border-radius: 3cap;
  background-color: rgb(24, 42, 104);
  text-align: center;
  width: 150px;
  margin: 10px;
  padding: 20px;
}

.map {
  padding-left: 10px;
  width: 33%;
  padding-bottom: 50px;
  margin-top: -50px;
  position: relative;
  left: 0;
  z-index: -1
}

/* #ticket{position: absolute; 
  top:5% 0%; 
  right: 0;
} */
.about-hobby-1 {
  display: flex;
}

#insp {
  width: 20.5%;
  height: 72.5%;
  background-color: #182a68;
  margin-bottom: -60%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1
}

#insp-head {
  padding: 100px 20px;
}

#insp-para {
  width: 20.5%;
  height: 72.5%;
  background-color: #182a68;
  margin-bottom: -60%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}

#insp-con {
  padding: 100px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 1.8cap;
}

#insp-para2 {
  padding: 0 25%
}

#hob {
  width: 60%;
  height: 48%;
  background-color: #182968;
  margin-bottom: -60%;
  position: absolute;
  left: 30%;
  z-index: -1
}

#gap-filler-1 {
  width: 300px;
  height: 600px;
  background-color: #182968;
  margin-bottom: -500px;
  position: absolute;
  left: 0%;
  top: 0% 0;
  z-index: -1
}

#gap-filler-2 {
  width: 300px;
  height: 600px;
  background-color: #182968;
  margin-bottom: -500px;
  position: absolute;
  right: 0%;
  top: 0% 0;
  z-index: -1
}

#hob-para {
  padding: 100px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 2cap;
}

#hob-title {
  background-color: #182968
}

#hob-para-2 {
  padding: 100px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 2cap;
}

#landing-para {
  width: 50%;
  padding-left: 100px;
}
#img-div{
  padding-left: 100px;
  margin-top: -100px;
}
#navbar{
  list-style-type: none;
  background-color:#afc7c5cf;
  margin:0;
  padding:0;
  overflow: hidden;
  position: fixed;
  top:0;
  width:100%;
  box-shadow: 5px 5px 10px 10px #eceae150;
}
.nav-item, a{
text-align: center;
padding:14px 16px;
float: right;
text-decoration: none;
color: #052574;

  
}

a:hover{
  color:rgb(18, 17, 16);
  background-color: rgba(255, 166, 0, 0.466);
}
body{
  margin:0
}