* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* h1 {color:white ;display: inline-block; width:auto; padding-inline: 80px;} */
/* header {background-color: rgb(82, 6, 73);width: 100%; height: auto; position: fixed; margin-top: 0;} */
/* .header {position: sticky;padding: 0px 16px; background: #f1f1f1;} */
#landing {
  color: rgb(77, 40, 2);
  display: flex;
}

/* * {background-color: #ff746c;} */
/* .foot { width:33%;} */
a:hover {
  color: orange
}

a:link {
  color: rgb(24, 42, 104);
  text-decoration: none;
}

footer {
  background-color: rgb(233, 221, 221);
  display: flex;
  justify-content: right;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.foot {
  padding-right: 50px
}

/* #header-gap{padding-top: 10cap; padding-left: 100px;} */
main {
  padding-top: 100px;
}

#body-index {
  background-color: rgb(2, 44, 56);
  margin-bottom: 100px
}

#body-about {
  background-color: #9c8486;
  margin-bottom: 100px
}

#body-port {
  background-color: #B85042;
  margin-bottom: 100px
}

p,
h3,
h2,
h6 {
  color: beige
}

.menu {
  display: flex;
  padding: 0px;
  width: 33.33%;
}

#menu_index {
  background-color: rgb(233, 221, 221);
  display: flex;
  width: 100%;
  height: 75px;
  position: fixed;
  margin-top: 0;
}

#menu_about {
  background-color: #FCF6F5;
  display: flex;
  width: 100%;
  height: 75px;
  position: fixed;
  margin-top: 0;
}

#menu_port {
  background-color: #E7E8D1;
  display: flex;
  width: 100%;
  height: 75px;
  position: fixed;
  margin-top: 0;
}

h2 {
  display: flex;
}

.menu-item {
  border-radius: 1cap;
  text-align: center;
  width: 200px;
  margin: 25px;

}

.menu-item-1 {
  color: rgb(243, 237, 237);
  border-radius: 3cap;
  background-color: #182a68;
  text-align: center;
  width: 150px;
  margin: 10px;
  padding: 20px;
}
.map{
  padding-left: 10px;
  width:33%
}
.about-hobby-1 {
  display: flex;
}
